<html>
  <head>
    <title>Quora Clone</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="css/application.css">
  </head>
  <body>
    <% if logged_in? %>
      <a href = "/<%= @current_user.name %>">Profile Page</a>
      <br>
      <a href = "/">Home Page</a>
      <br>
      <form method = "post" action = "/logout">
        <input type = submit value = "Logout">
      </form>
    <% end %>

    <%= yield %>

  </body>
</html>


